@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  overflow: hidden;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  outline: none;
}

h1 {
  font-family: "Anton", sans-serif;
}

h2,
li {
  font-family: "Anton", sans-serif;
}

p {
  font-family: "Anton", sans-serif;
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}
